<head>
    <%- include('./partials/head.ejs') %>

        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <br>
        <p>This is the home page for my Express Developer Skills Lab at General Assembly. To see a list of skills learned, click the above link.</p>
        <p>Last updated:
            <%= date %>
        </p>
        <br>
        <%- include('./partials/footer.ejs') %>
</body>

</html>